@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 999;
}
.header.is-scrolled {
  top: 0;
}
.header.is-scrolled .header__container {
  background: none;
  background-color: rgba(46, 24, 3, 0.2509803922);
}
.header__container {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
@media screen and (max-width: 1024px) {
  .header__container {
    padding: 0 4%;
  }
}
.header__container .ham-menu {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 3;
  top: 0;
  right: 0;
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__container .ham-menu {
    display: block;
  }
}
.header__container .ham-menu.active span:nth-child(1) {
  transform: rotate(-45deg);
  top: 48px;
  width: 60px;
  left: 13px;
}
.header__container .ham-menu.active span:nth-child(2) {
  display: none;
}
.header__container .ham-menu.active span:nth-child(3) {
  transform: rotate(45deg);
  top: 49px;
  width: 60px;
  left: 13px;
}
.header__container .ham-menu span {
  display: inline-block;
  position: absolute;
  left: 20px;
  height: 1px;
  background: #fff;
  width: 50px;
}
.header__container .ham-menu span:nth-child(1) {
  top: 65px;
  margin-left: 20px;
}
.header__container .ham-menu span:nth-child(2) {
  top: 50px;
  margin-left: 20px;
}
.header__container .ham-menu span:nth-child(3) {
  top: 35px;
  margin-left: 20px;
}
.header__logo {
  width: 80px;
}
.header__logo img {
  width: 100%;
}
.header__nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header__nav ul li a {
  font-family: "Zen Kaku Gothic New";
  color: #fff;
  font-size: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__nav-sp {
  height: 100vh;
  width: 100%;
  line-height: 4;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: 0.5s;
}
.header__nav-sp ul {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__nav-sp ul li a {
  font-size: 2rem;
  font-family: "Zen Kaku Gothic New";
  color: #fff;
}
.header.active {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(5px);
  align-items: center;
  justify-content: center;
}
.header.active .header__nav-sp {
  display: block;
  background-color: rgba(46, 24, 3, 0.2509803922);
  transform: translateX(0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.fv {
  width: 100%;
  height: 100vh;
  background: url(./img/fv__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  position: relative;
}
.fv__title {
  color: #fff;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Zen Kaku Gothic New";
  letter-spacing: 2px;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  .fv__title {
    width: 100%;
    font-size: 7vw;
    line-height: 1.6;
  }
}
.fv__title .sp {
  display: none;
}
@media screen and (max-width: 375px) {
  .fv__title .sp {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .fv__title {
    font-size: 3rem;
    top: 40%;
  }
}
.fv__title span {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 2rem;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .fv__title span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 375px) {
  .fv__title span {
    font-size: 1.4rem;
  }
}
.fv__info {
  padding: 0 40px 20px 100px;
  border-bottom: 1px solid #fff;
  position: absolute;
  left: 0;
  bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .fv__info {
    padding: 0 4% 0 6%;
  }
}
@media screen and (max-width: 640px) {
  .fv__info {
    text-align: center;
    padding: 0 4%;
    bottom: 23%;
    max-width: 75%;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
  }
}
.fv__info__text {
  color: #fff;
  font-family: "Zen Kaku Gothic New";
  font-size: 2.6rem;
}
@media screen and (max-width: 1024px) {
  .fv__info__text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .fv__info__text {
    font-size: 4vw;
  }
}
.fv__info__date {
  margin: 10px 0;
  color: #fff;
  font-size: 4rem;
}
@media screen and (max-width: 1024px) {
  .fv__info__date {
    font-size: 4vw;
  }
}
.fv__float {
  z-index: 998;
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 1024px) {
  .fv__float {
    width: 20vw;
    height: 20vw;
  }
}
.fv__float img {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .fv__float {
    display: none !important;
  }
}
.fv__float-sp {
  display: none;
  z-index: 999;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .fv__float-sp {
    display: block;
  }
}
.fv__float-sp__box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.fv__float-sp__box__cta01 {
  width: 32%;
}
.fv__float-sp__box__cta01 img {
  width: 100%;
  display: block;
}
.fv__float-sp__box__cta02 {
  width: 66%;
  display: block;
}
.fv__float-sp__box__cta02 img {
  width: 100%;
  display: block;
}

.concept {
  background: url(./img/concept_bg.png) no-repeat top center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (max-width: 375px) {
  .concept {
    padding: 10% 0;
  }
}
.concept__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .concept__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .concept__container {
    padding: 0 4%;
  }
}
.concept__title {
  font-weight: normal;
  padding-top: 40px;
  font-size: 2rem;
  font-family: "Zen Kaku Gothic New";
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .concept__title {
    padding-top: 0;
  }
}
.concept__title small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.4rem;
}
.concept__content {
  padding-top: 40px;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .concept__content {
    flex-direction: column-reverse;
  }
}
.concept__content__img {
  width: 500px;
}
@media screen and (max-width: 1024px) {
  .concept__content__img {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .concept__content__img {
    width: 100%;
    padding: 2% 5%;
  }
}
@media screen and (max-width: 375px) {
  .concept__content__img {
    padding: 0;
  }
}
.concept__content__img img {
  width: 100%;
}
.concept__content__text {
  width: calc(100% - 500px);
  padding-left: 100px;
}
@media screen and (max-width: 1024px) {
  .concept__content__text {
    width: 55%;
    padding-left: 4%;
  }
}
@media screen and (max-width: 640px) {
  .concept__content__text {
    width: 100%;
    padding-left: 0;
  }
}
.concept__content__text h3 {
  font-family: "Zen Kaku Gothic New";
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .concept__content__text h3 {
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 375px) {
  .concept__content__text h3 {
    font-size: 4.7vw;
  }
}
.concept__content__text p {
  font-family: "Zen Kaku Gothic New";
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2;
}
@media screen and (max-width: 1024px) {
  .concept__content__text p {
    font-size: 1.4rem;
  }
}

.cta {
  cursor: pointer;
  width: 100%;
  height: 330px;
  background: url(./img/cta__bg.jpg) no-repeat top center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .cta {
    height: 40vw;
  }
}
.cta__container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cta__container:hover .cta__link p::after {
  transform: scale(1, 1);
  transform-origin: left top;
}
@media screen and (max-width: 1024px) {
  .cta__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .cta__container {
    padding: 0 4%;
  }
}
.cta__link {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .cta__link {
    gap: 2vw;
  }
}
@media screen and (max-width: 375px) {
  .cta__link {
    gap: 10px;
  }
}
.cta__link__title {
  color: #fff;
  font-size: 2.4rem;
  font-family: "Zen Kaku Gothic New";
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .cta__link__title {
    font-size: 1.8rem;
  }
}
.cta__link__title span {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 0 40px;
}
@media screen and (max-width: 640px) {
  .cta__link__title span {
    width: 60%;
    padding: 0 2%;
  }
}
.cta__link__img {
  width: 526px;
}
@media screen and (max-width: 640px) {
  .cta__link__img {
    width: 100%;
  }
}
.cta__link__img img {
  width: 100%;
}
.cta__link p {
  margin: 0 auto;
  width: calc(100% - 300px);
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-family: "Zen Kaku Gothic New";
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .cta__link p {
    font-size: 1.8rem;
  }
}
.cta__link p span {
  position: relative;
}
.cta__link p span::after {
  content: "";
  background: url(./img/cta__arrow.svg);
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  right: -24px;
  transform: translateY(-50%);
}
.cta__link p::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -10px;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.5s;
}

.point {
  background-color: #EBEBEB;
}
.point__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .point__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .point__container {
    padding: 0 4% 10%;
  }
}
.point__title {
  font-weight: normal;
  padding-top: 40px;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Zen Kaku Gothic New";
}
@media screen and (max-width: 1024px) {
  .point__title {
    width: 40%;
  }
}
.point__title small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.4rem;
}
.point__box__img {
  display: flex;
  width: 100%;
  gap: 20px;
}
.point__box__img__image {
  width: 588px;
}
.point__box__img__image img {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .point__box__img {
    display: none;
  }
}
.point__box__info {
  padding: 40px 0 80px 0;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .point__box__info {
    flex-direction: column;
    padding: 0;
  }
}
.point__box__info__title {
  font-weight: normal;
  width: 450px;
  font-family: "Zen Kaku Gothic New";
  font-weight: 300;
  font-size: 2.6rem;
  border-right: 1px solid #606060;
}
@media screen and (max-width: 1024px) {
  .point__box__info__title {
    width: 60%;
    font-size: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .point__box__info__title {
    border-right: 0;
    width: 100%;
    margin-bottom: 2%;
    border-bottom: 1px solid #606060;
    padding-bottom: 2%;
    font-size: 1.8rem;
  }
  .point__box__info__title .sp {
    display: none;
  }
}
.point__box__info__title small {
  font-family: "Zen Kaku Gothic New";
  margin-bottom: 40px;
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .point__box__info__title small {
    padding: 4% 0;
    margin-bottom: 0;
  }
}
.point__box__info__img-sp {
  display: flex;
  width: 100%;
  gap: 20px;
}
@media screen and (max-width: 640px) {
  .point__box__info__img-sp {
    display: block !important;
    display: flex !important;
  }
}
.point__box__info__img-sp__image {
  width: 50%;
}
.point__box__info__img-sp__image img {
  width: 100%;
}
.point__box__info__content {
  width: calc(100% - 450px);
  font-weight: 300;
  font-family: "Zen Kaku Gothic New";
  font-size: 2rem;
  padding-left: 40px;
  line-height: 2;
}
@media screen and (max-width: 1024px) {
  .point__box__info__content {
    width: 60%;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 640px) {
  .point__box__info__content {
    padding: 2% 0 4% 0;
    width: 100%;
  }
}
.point__banner {
  width: 100%;
  padding-bottom: 80px;
}
@media screen and (max-width: 640px) {
  .point__banner {
    display: none;
  }
}
.point__banner img {
  width: 100%;
}
.point__banner-sp {
  width: 100%;
  display: none;
  margin-bottom: 80px;
}
@media screen and (max-width: 640px) {
  .point__banner-sp {
    display: block;
    margin-bottom: 0;
    padding: 4% 0;
  }
}
.point__banner-sp img {
  width: 100%;
}

.floor {
  padding: 70px 0px;
}
@media screen and (max-width: 640px) {
  .floor {
    padding: 4% 0 10% 0;
  }
}
.floor__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .floor__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .floor__container {
    padding: 0 4%;
  }
}
.floor__title {
  font-weight: normal;
  padding-top: 40px;
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Zen Kaku Gothic New";
}
.floor__title small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.4rem;
}
.floor__info {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Zen Kaku Gothic New";
  font-weight: 300;
}
@media screen and (max-width: 375px) {
  .floor__info {
    font-size: 1.2rem;
  }
}
.floor__plan {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 40px;
}
.floor__plan__map01 {
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .floor__plan__map01 {
    width: 45vw;
  }
}
.floor__plan__map01__index {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: -35px;
}
@media screen and (max-width: 640px) {
  .floor__plan__map01__index {
    font-size: 1.4rem;
    left: 0;
    top: -8%;
  }
}
.floor__plan__map01__img {
  width: 556px;
}
@media screen and (max-width: 1200px) {
  .floor__plan__map01__img {
    width: 100%;
  }
}
.floor__plan__map01__img img {
  width: 100%;
}
.floor__plan__map01__popup {
  width: 55px;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .floor__plan__map01__popup {
    bottom: 5%;
  }
}
@media screen and (max-width: 640px) {
  .floor__plan__map01__popup {
    width: 6vw;
  }
}
.floor__plan__map01__popup img {
  width: 100%;
}
.floor__plan__map02 {
  cursor: pointer;
  margin-top: -200px;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .floor__plan__map02 {
    width: 45vw;
  }
}
@media screen and (max-width: 640px) {
  .floor__plan__map02 {
    margin-top: 0;
  }
}
.floor__plan__map02__index {
  font-family: "Poppins";
  font-weight: 100;
  font-size: 2rem;
  position: absolute;
  left: 0;
  bottom: 160px;
}
@media screen and (max-width: 640px) {
  .floor__plan__map02__index {
    font-size: 1.4rem;
    top: -8%;
  }
}
.floor__plan__map02__img {
  width: 556px;
}
@media screen and (max-width: 1200px) {
  .floor__plan__map02__img {
    width: 100%;
  }
}
.floor__plan__map02__img img {
  width: 100%;
}
.floor__plan__map02__popup {
  width: 55px;
  display: block;
  position: absolute;
  right: 10px;
  bottom: 210px;
}
@media screen and (max-width: 640px) {
  .floor__plan__map02__popup {
    width: 6vw;
    bottom: 5%;
  }
}
.floor__plan__map02__popup img {
  width: 100%;
}

.plan-slide {
  width: 100%;
}
.plan-slide__slider--cnt {
  height: auto;
}
@media screen and (max-width: 640px) {
  .plan-slide__slider--cnt {
    width: 240px;
  }
  .plan-slide__slider--cnt img {
    width: 100%;
    height: auto;
  }
}

.access {
  background: url(./img/concept_bg.png) no-repeat top center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .access {
    padding: 8% 0;
  }
}
.access__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .access__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .access__container {
    padding: 0 4%;
  }
}
.access__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .access__content {
    flex-direction: column;
  }
}
.access__content__text {
  width: 324px;
  line-height: 2;
}
@media screen and (max-width: 375px) {
  .access__content__text {
    width: 100%;
  }
}
.access__content__text__title {
  font-weight: normal;
  padding-top: 40px;
  font-size: 2rem;
  margin-bottom: 30px;
}
.access__content__text__title small {
  display: block;
  font-size: 1.4rem;
  font-family: "Zen Kaku Gothic New";
}
.access__content__text h3 {
  font-family: "Zen Kaku Gothic New";
  font-weight: 400;
  font-size: 2.4rem;
  padding-bottom: 20px;
  font-weight: 300;
}
.access__content__info {
  font-family: "Zen Kaku Gothic New";
  font-size: 1.6rem;
  font-weight: 300;
}
.access__content__image {
  width: calc(100% - 324px);
}
@media screen and (max-width: 1024px) {
  .access__content__image {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .access__content__image {
    padding-top: 2%;
  }
}
.access__content__image iframe {
  width: 100%;
}
@media screen and (max-width: 640px) {
  .access__content__image iframe {
    height: 300px;
  }
}

.flow {
  padding: 40px 0;
}
.flow__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .flow__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .flow__container {
    padding: 0 4%;
  }
}
.flow__title {
  font-weight: normal;
  padding-top: 40px;
  font-size: 2rem;
  margin-bottom: 30px;
}
.flow__title small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.4rem;
}
.flow__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 640px) {
  .flow__content {
    flex-direction: column;
    gap: 40px;
  }
}
.flow__content__item {
  width: 320px;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .flow__content__item {
    width: 30%;
  }
}
@media screen and (max-width: 640px) {
  .flow__content__item {
    width: 100%;
  }
}
.flow__content__item::after {
  content: "";
  background: url(./img/flow__arrow.svg);
  display: block;
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -70px;
}
@media screen and (max-width: 1200px) {
  .flow__content__item::after {
    right: -10%;
  }
}
@media screen and (max-width: 768px) {
  .flow__content__item::after {
    display: none;
  }
}
.flow__content__item:nth-child(3)::after {
  display: none;
}
.flow__content__item__index {
  right: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 20px;
  text-align: center;
  background-color: #fff;
}
.flow__content__item__img {
  padding-top: 30px;
  margin: 0 auto;
  width: 112px;
  height: 130px;
}
@media screen and (max-width: 1024px) {
  .flow__content__item__img {
    width: 8vw;
  }
}
@media screen and (max-width: 640px) {
  .flow__content__item__img {
    width: 17vw;
    height: 21vw;
  }
}
.flow__content__item__img img {
  width: 100%;
}
.flow__content__item h3 {
  text-align: center;
  font-family: "Zen Kaku Gothic New";
  padding: 30px 0px;
  font-size: 2rem;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .flow__content__item h3 {
    padding: 10% 0;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 640px) {
  .flow__content__item h3 {
    padding: 4% 0;
  }
}
.flow__content__item p {
  line-height: 1.8;
  font-family: "Zen Kaku Gothic New";
  padding-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .flow__content__item p {
    font-size: 1.4rem;
  }
}

.point02 {
  overflow: hidden;
  background-color: #EBEBEB;
  padding: 80px;
}
@media screen and (max-width: 1024px) {
  .point02 {
    padding: 0;
  }
}
.point02__container {
  background-color: #fff;
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  padding-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .point02__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .point02__container {
    padding: 0 4%;
  }
}
.point02__title {
  font-weight: 300;
  padding-top: 40px;
  font-size: 2rem;
  margin-bottom: 30px;
}
.point02__title small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.4rem;
}
.point02__box {
  width: 100%;
  margin: 0 auto;
}
.point02__box__img {
  padding: 80px 0;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .point02__box__img {
    padding: 2% 0 10% 0;
  }
}
.point02__box__img__icon {
  font-size: 2.4rem;
  color: #fff;
  width: 58px;
  height: 58px;
  background: linear-gradient(to bottom, #EBEBEB, #606060);
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Zen Kaku Gothic New";
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .point02__box__img__icon {
    width: 7vw;
    height: 7vw;
    font-size: 3vw;
  }
}
@media screen and (max-width: 640px) {
  .point02__box__img__icon {
    width: 6vw;
    height: 6vw;
    font-size: 2vw;
  }
}
.point02__box__img__icon.icon01 {
  top: 390px;
  left: 78px;
}
@media screen and (max-width: 780px) {
  .point02__box__img__icon.icon01 {
    top: 50vw;
    left: 10vw;
  }
}
@media screen and (max-width: 700px) {
  .point02__box__img__icon.icon01 {
    top: 55vw;
    left: 11vw;
  }
}
@media screen and (max-width: 634px) {
  .point02__box__img__icon.icon01 {
    top: 51vw;
    left: 14vw;
  }
}
.point02__box__img__icon.icon02 {
  top: 220px;
  left: 205px;
}
@media screen and (max-width: 780px) {
  .point02__box__img__icon.icon02 {
    top: 28vw;
    left: 26vw;
  }
}
@media screen and (max-width: 700px) {
  .point02__box__img__icon.icon02 {
    top: 32vw;
    left: 28vw;
  }
}
@media screen and (max-width: 634px) {
  .point02__box__img__icon.icon02 {
    top: 33vw;
    left: 13vw;
  }
}
.point02__box__img__icon.icon03 {
  bottom: 197px;
  right: 233px;
}
@media screen and (max-width: 780px) {
  .point02__box__img__icon.icon03 {
    bottom: 25vw;
    right: 29vw;
  }
}
@media screen and (max-width: 700px) {
  .point02__box__img__icon.icon03 {
    bottom: 30vw;
    right: 34vw;
  }
}
@media screen and (max-width: 634px) {
  .point02__box__img__icon.icon03 {
    bottom: 29vw;
    right: 37vw;
  }
}
.point02__box__img__icon.icon04 {
  top: 300px;
  left: 463px;
}
@media screen and (max-width: 780px) {
  .point02__box__img__icon.icon04 {
    top: 39vw;
    left: 59vw;
  }
}
@media screen and (max-width: 700px) {
  .point02__box__img__icon.icon04 {
    top: 43vw;
    left: 62vw;
  }
}
@media screen and (max-width: 634px) {
  .point02__box__img__icon.icon04 {
    top: 38vw;
    left: 71vw;
  }
}
.point02__box__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.point02__slider {
  width: 100%;
  margin: 0 auto;
}
.point02__slider__wrap {
  width: 100%;
  padding: 80px 0;
}
@media screen and (max-width: 1024px) {
  .point02__slider__wrap {
    padding: 0 0 80px 0;
  }
}
.point02__slider__list {
  display: flex !important;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .point02__slider__list {
    flex-direction: column;
  }
}
.point02__slider__list__item {
  width: 50%;
  padding: 20px 20px;
}
@media screen and (max-width: 1024px) {
  .point02__slider__list__item {
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 500px) {
  .point02__slider__list__item {
    width: 100%;
    padding: 0 2%;
  }
}
.point02__slider__list__item__eng {
  font-family: "Zen Kaku Gothic New";
  font-style: italic;
  color: #000;
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
}
.point02__slider__list__item__number {
  color: #000;
  font-family: "Zen Kaku Gothic New";
  font-size: 6rem;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .point02__slider__list__item__number {
    font-size: 4rem;
  }
}
.point02__slider__list__item__title {
  font-family: "Zen Kaku Gothic New";
  font-size: 2.4rem;
  color: #000;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 35px;
  text-align: center;
}
@media screen and (max-width: 640px) {
  .point02__slider__list__item__title {
    font-size: 2rem;
  }
}
.point02__slider__list__item__txt {
  font-weight: 300;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.6rem;
  color: #3a3a3a;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  .point02__slider__list__item__txt {
    font-size: 1.4rem;
  }
}
.point02__slider__list__photo {
  padding: 20px 20px;
  width: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .point02__slider__list__photo {
    padding: 0;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
}
.point02__slider__list__photo img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.point02__slider__btn {
  position: relative;
}
.point02__slider__btn .slick-prev-point {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .point02__slider__btn .slick-prev-point {
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  .point02__slider__btn .slick-prev-point svg {
    width: 10.8125vw;
    height: 10.8125vw;
    padding-left: 20px;
  }
}
@media screen and (max-width: 435px) {
  .point02__slider__btn .slick-prev-point svg {
    padding-left: 0;
  }
}
.point02__slider__btn .slick-next-point {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .point02__slider__btn .slick-next-point {
    right: 0;
  }
}
@media screen and (max-width: 640px) {
  .point02__slider__btn .slick-next-point svg {
    width: 10.8125vw;
    height: 10.8125vw;
    padding-right: 20px;
  }
}
@media screen and (max-width: 435px) {
  .point02__slider__btn .slick-next-point svg {
    padding-right: 0;
  }
}

.works__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .works__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .works__container {
    padding: 0 4%;
  }
}
.works__title {
  font-weight: 300;
  padding-top: 40px;
  font-size: 2rem;
  margin-bottom: 30px;
}
.works__title small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.4rem;
}

.works__inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  .works__inner {
    padding: 0;
  }
}

.works__inner--cnt {
  width: 100%;
  position: relative;
  padding-left: 50px;
}
@media screen and (max-width: 640px) {
  .works__inner--cnt {
    padding-left: 0;
  }
}

.works__inner--data {
  position: absolute;
  font-weight: 400;
  font-size: 1.6rem;
  color: #003214;
  left: 0;
  writing-mode: vertical-rl;
  top: 0;
}
@media screen and (max-width: 640px) {
  .works__inner--data {
    font-size: 1.2rem;
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 3%;
    writing-mode: horizontal-tb;
  }
}

.works__inner--data--01 {
  color: #606060;
  font-weight: 100;
  font-family: "Zen Kaku Gothic New";
}

.y-scroll {
  white-space: normal;
  overflow-x: hidden;
  overflow-y: auto;
}
.y-scroll::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
.y-scroll::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.y-scroll::-webkit-scrollbar-thumb {
  background: rgba(46, 24, 3, 0.2509803922);
  border-radius: 0;
}
.y-scroll::-webkit-scrollbar-thumb:hover, .y-scroll::-webkit-scrollbar-thumb:active {
  background: #606060;
}
.y-scroll::-webkit-scrollbar-track {
  background: #ddd;
  border: 0px none #ddd;
  border-radius: 0;
}
.y-scroll::-webkit-scrollbar-track:hover, .y-scroll::-webkit-scrollbar-track:active {
  background: #ddd;
}
.y-scroll::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.company__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .company__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .company__container {
    padding: 0 4%;
  }
}
.company__title {
  font-weight: 300;
  padding-top: 40px;
  font-size: 2rem;
  margin-bottom: 30px;
}
.company__title small {
  display: block;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.4rem;
}
.company__box {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .company__box {
    flex-direction: column-reverse;
    padding-bottom: 4%;
  }
}
.company__box:nth-child(3) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 640px) {
  .company__box:nth-child(3) {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1024px) {
  .company__box:nth-child(3) .company__box__img {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .company__box:nth-child(3) .company__box__img {
    width: 100%;
  }
}
.company__box:nth-child(3) .company__box__img img {
  width: 100%;
}
@media screen and (max-width: 640x) {
  .company__box:nth-child(3) .company__box__img {
    width: 100%;
  }
}
.company__box:nth-child(3) .company__box__content {
  padding-left: 0;
  padding-right: 80px;
}
@media screen and (max-width: 1024px) {
  .company__box:nth-child(3) .company__box__content {
    width: 50%;
    padding-right: 4%;
  }
}
@media screen and (max-width: 640px) {
  .company__box:nth-child(3) .company__box__content {
    width: 100%;
  }
}
.company__box__img {
  width: 500px;
}
@media screen and (max-width: 1024px) {
  .company__box__img {
    width: 50%;
  }
}
@media screen and (max-width: 640px) {
  .company__box__img {
    width: 100%;
    padding-top: 4%;
  }
}
.company__box__img img {
  width: 100%;
}
.company__box__content {
  width: calc(100% - 500px);
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .company__box__content {
    width: 50%;
    padding-left: 4%;
  }
}
@media screen and (max-width: 640px) {
  .company__box__content {
    width: 100%;
    padding: 0;
  }
}
.company__box__content h3 {
  font-family: "Zen Kaku Gothic New";
  font-size: 3rem;
  padding-bottom: 20px;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .company__box__content h3 {
    font-size: 2rem;
  }
}
.company__box__content h3 small {
  display: block;
  font-weight: 300;
  font-size: 1.5rem;
}
.company__box__content p {
  font-weight: 300;
  font-family: "Zen Kaku Gothic New";
  font-size: 1.6rem;
  line-height: 2;
}
@media screen and (max-width: 640px) {
  .company__box__content p {
    font-size: 1.4rem;
  }
}
.company__info {
  padding: 40px 0 80px 0;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .company__info {
    padding: 4% 0 8% 0;
  }
}
.company__info__table tbody {
  width: 100%;
}
.company__info__table tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  text-align: left;
}
@media screen and (max-width: 640px) {
  .company__info__table tbody tr {
    flex-direction: column;
  }
}
.company__info__table tbody tr th {
  font-family: "Zen Kaku Gothic New";
  width: 195px;
  padding-bottom: 24px;
  border-bottom: 1px solid #606060;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .company__info__table tbody tr th {
    border-bottom: none;
    padding-bottom: 2%;
    font-size: 1.4rem;
  }
}
.company__info__table tbody tr td {
  font-family: "Zen Kaku Gothic New";
  width: calc(100% - 210px);
  padding-bottom: 24px;
  border-bottom: 1px solid #606060;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .company__info__table tbody tr td {
    width: 100%;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size: 1.4rem;
  }
}

.footer {
  width: 100%;
  background-color: #606060;
  padding: 80px 0 80px 0;
}
@media screen and (max-width: 640px) {
  .footer {
    padding: 8% 0;
  }
}
.footer__container {
  width: 100%;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .footer__container {
    padding: 0 2%;
  }
}
@media screen and (max-width: 640px) {
  .footer__container {
    padding: 0 4%;
  }
}
.footer__content {
  position: relative;
}
.footer__content__logo {
  width: 118px;
  margin: 0 auto;
  padding: 40px 0 40px 0;
}
@media screen and (max-width: 375px) {
  .footer__content__logo {
    width: 20vw;
  }
}
.footer__content__logo img {
  width: 100%;
}
.footer__content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 640px) {
  .footer__content ul {
    flex-direction: column;
    gap: 2vh;
  }
}
.footer__content ul li a {
  color: #fff;
  font-size: 1.6rem;
  font-family: "Zen Kaku Gothic New";
}
@media screen and (max-width: 375px) {
  .footer__content ul li a {
    font-size: 3.5vw;
  }
}
.footer__content__copy {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Zen Kaku Gothic New";
}
@media screen and (max-width: 640px) {
  .footer__content__copy {
    padding: 10%;
    font-size: 1.2rem;
  }
}
.footer__content .top-button {
  width: 77px;
  height: 77px;
  position: absolute;
  right: 0;
  bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .footer__content .top-button {
    display: none;
  }
}
.footer__content .top-button a {
  width: 100%;
}
.modal_popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal_popup__inner {
  width: 100%;
  height: 100%;
  background-color: rgba(204, 204, 204, 0.5019607843);
  position: relative;
  cursor: pointer;
}
.modal_popup__cnt {
  max-width: 600px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_popup__cnt img {
  max-width: 100%;
  height: auto;
}
.modal_popup__cnt span {
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: 0;
}/*# sourceMappingURL=style.css.map */