@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Noto+Serif+JP&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&family=Zen+Old+Mincho:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  &.on {
    //overflow: hidden;
  }
}

//header
.header {
  width: 100%;
  position: fixed;
  z-index: 999;

  &.is-scrolled {
    top: 0;

    .header__container {
      background: none;
      background-color: #2E180340;
    }
  }

  &__container {
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;

    @media screen and (max-width: 1024px) {
      padding: 0 4%;
    }

    .ham-menu {
      width: 100px;
      height: 100px;
      position: relative;
      z-index: 3;
      top: 0;
      right: 0;
      display: none;

      @media screen and (max-width: 1024px) {
        display: block;
      }

      &.active span {
        &:nth-child(1) {
          transform: rotate(-45deg);
          top: 48px;
          width: 60px;
          left: 13px;
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(45deg);
          top: 49px;
          width: 60px;
          left: 13px;
        }
      }

      span {
        display: inline-block;
        position: absolute;
        left: 20px;
        height: 1px;
        background: #fff;
        width: 50px;

        &:nth-child(1) {
          top: 65px;
          margin-left: 20px;
        }

        &:nth-child(2) {
          top: 50px;
          margin-left: 20px;
        }

        &:nth-child(3) {
          top: 35px;
          margin-left: 20px;
        }
      }
    }
  }

  &__logo {
    width: 80px;

    img {
      width: 100%;
    }
  }

  &__nav {
    ul {
      display: flex;
      gap: 20px;
      align-items: center;

      li {
        a {
          font-family: "Zen Kaku Gothic New";
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__nav-sp {
    height: 100vh;
    width: 100%;
    line-height: 4;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100%);
    transition: .5s;

    ul {
      width: 100%;
      text-align: center;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      li {
        a {
          font-size: 2rem;
          font-family: "Zen Kaku Gothic New";
          color: #fff;
        }
      }
    }
  }

  &.active {
    width: 100%;
    height: 100%;
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;

    .header__nav-sp {
      display: block;
      background-color: #2E180340;
      transform: translateX(0);
      backdrop-filter: blur(5px);
    }
  }
}

//fv
.fv {
  width: 100%;
  height: 100vh;
  background: url(./img/fv__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  position: relative;

  &__title {
    color: #fff;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-family: "Zen Kaku Gothic New";
    letter-spacing: 2px;
    line-height: 2;

    @media screen and (max-width: 640px) {
      width: 100%;
      font-size: 7vw;
      line-height: 1.6;
    }

    .sp {
      display: none;

      @media screen and (max-width: 375px) {
        display: block;
      }
    }

    @media screen and (max-width: 1024px) {
      font-size: 3rem;
      top: 40%;
    }

    span {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 2rem;
      font-weight: 300;

      @media screen and (max-width: 1024px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 375px) {
        font-size: 1.4rem;
      }
    }
  }

  &__info {
    padding: 0 40px 20px 100px;
    border-bottom: 1px solid #fff;
    position: absolute;
    left: 0;
    bottom: 40px;

    @media screen and (max-width: 1024px) {
      padding: 0 4% 0 6%;
    }

    @media screen and (max-width: 640px) {
      text-align: center;
      padding: 0 4%;
      bottom: 23%;
      max-width: 75%;
      width: 100%;
      left: 50%;
      transform: translate(-50%);
    }

    &__text {
      color: #fff;
      font-family: "Zen Kaku Gothic New";
      font-size: 2.6rem;

      @media screen and (max-width: 1024px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 640px) {
        font-size: 4vw;

      }
    }

    &__date {
      margin: 10px 0;
      color: #fff;
      font-size: 4rem;

      @media screen and (max-width: 1024px) {
        font-size: 4vw;
      }
    }
  }

  &__float {
    z-index: 998;
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 200px;
    height: 200px;

    @media screen and (max-width: 1024px) {
      width: 20vw;
      height: 20vw;
    }

    img {
      width: 100%;
    }

    @media screen and (max-width: 640px) {
      display: none !important;
    }
  }

  &__float-sp {
    display: none;
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;

    @media screen and (max-width: 640px) {
      display: block;
    }

    &__box {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      &__cta01 {
        width: 32%;

        img {
          width: 100%;
          display: block;
        }
      }

      &__cta02 {
        width: 66%;
        display: block;

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

//concept
.concept {
  background: url(./img/bg.png) no-repeat top center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;

  @media screen and (max-width: 375px) {
    padding: 10% 0;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    font-weight: normal;
    padding-top: 40px;
    font-size: 2rem;
    font-family: "Zen Kaku Gothic New";
    font-weight: normal;

    @media screen and (max-width: 640px) {
      padding-top: 0;
    }

    small {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 1.4rem;
    }
  }

  &__content {
    padding-top: 40px;
    display: flex;
    width: 100%;

    @media screen and (max-width: 640px) {
      flex-direction: column-reverse;
    }

    &__img {
      width: 500px;

      @media screen and (max-width: 1024px) {
        width: 45%;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        padding: 2% 5%;
      }

      @media screen and (max-width: 375px) {
        padding: 0;
      }

      img {
        width: 100%;
      }
    }

    &__text {
      width: calc(100% - 500px);
      padding-left: 100px;

      @media screen and (max-width: 1024px) {
        width: 55%;
        padding-left: 4%;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        padding-left: 0;
      }

      h3 {
        font-family: "Zen Kaku Gothic New";
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.5;
        margin-bottom: 30px;

        @media screen and (max-width: 1024px) {
          font-size: 2.4vw;
        }

        @media screen and (max-width: 375px) {
          font-size: 4.7vw;
        }
      }

      p {
        font-family: "Zen Kaku Gothic New";
        font-weight: 100;
        font-size: 1.8rem;
        line-height: 2;

        @media screen and (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}

//cta
.cta {
  cursor: pointer;
  width: 100%;
  height: 330px;
  background: url(./img/cta__bg.jpg) no-repeat top center;
  background-size: cover;

  @media screen and (max-width: 1024px) {
    height: 40vw;
  }

  &__container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover {
      .cta__link {
        p {
          &::after {
            transform: scale(1, 1);
            transform-origin: left top;
          }
        }
      }


    }

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__link {

    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;

    @media screen and (max-width: 640px) {
      gap: 2vw;
    }

    @media screen and (max-width: 375px) {
      gap: 10px;
    }

    &__title {
      color: #fff;
      font-size: 2.4rem;
      font-family: "Zen Kaku Gothic New";
      font-weight: normal;

      @media screen and (max-width: 640px) {
        font-size: 1.8rem;
      }

      span {
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        padding: 0 40px;

        @media screen and (max-width: 640px) {
          width: 60%;
          padding: 0 2%;
        }
      }
    }

    &__img {
      width: 526px;

      @media screen and (max-width: 640px) {
        width: 100%;
      }

      img {
        width: 100%;
      }
    }

    p {
      margin: 0 auto;
      width: calc(100% - 300px);
      position: relative;
      color: #fff;
      font-size: 2rem;
      font-family: "Zen Kaku Gothic New";
      font-weight: normal;


      @media screen and (max-width: 640px) {
        font-size: 1.8rem;
      }

      span {
        position: relative;

        &::after {
          content: "";
          background: url(./img/cta__arrow.svg);
          width: 12px;
          height: 12px;
          display: block;
          position: absolute;
          top: 50%;
          right: -24px;
          transform: translateY(-50%);

        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
        bottom: -10px;
        transform: scale(0, 1);
        transform-origin: right top;
        transition: transform 0.5s;
      }
    }
  }
}

//point
.point {
  background-color: #EBEBEB;

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4% 10%;
    }
  }

  &__title {
    font-weight: normal;
    padding-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: "Zen Kaku Gothic New";

    @media screen and (max-width: 1024px) {
      width: 40%;
    }

    small {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 1.4rem;
    }
  }

  &__box {
    &__img {
      display: flex;
      width: 100%;
      gap: 20px;

      &__image {
        width: 588px;

        img {
          width: 100%;
        }
      }

      @media screen and (max-width: 640px) {
        display: none;
      }
    }

    &__info {
      padding: 40px 0 80px 0;
      display: flex;
      width: 100%;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        padding: 0;
      }

      &__title {
        font-weight: normal;
        width: 450px;
        font-family: "Zen Kaku Gothic New";
        font-weight: 300;
        font-size: 2.6rem;
        border-right: 1px solid #606060;

        @media screen and (max-width: 1024px) {
          width: 60%;
          font-size: 2rem;
        }

        @media screen and (max-width: 640px) {
          border-right: 0;
          width: 100%;
          margin-bottom: 2%;
          border-bottom: 1px solid #606060;
          padding-bottom: 2%;
          font-size: 1.8rem;

          .sp {
            display: none;
          }
        }

        small {
          font-family: "Zen Kaku Gothic New";
          margin-bottom: 40px;
          display: block;
          font-size: 1.4rem;
          font-weight: 300;

          @media screen and (max-width: 640px) {
            padding: 4% 0;
            margin-bottom: 0;
          }
        }
      }

      &__img-sp {
        display: flex;
        width: 100%;
        gap: 20px;

        @media screen and (max-width: 640px) {
          display: block !important;
          display: flex !important;
        }

        &__image {
          width: 50%;

          img {
            width: 100%;
          }
        }
      }

      &__content {
        width: calc(100% - 450px);
        font-weight: 300;
        font-family: "Zen Kaku Gothic New";
        font-size: 2rem;
        padding-left: 40px;
        line-height: 2;

        @media screen and (max-width: 1024px) {
          width: 60%;
          font-size: 1.4rem;
        }

        @media screen and (max-width: 640px) {
          padding: 2% 0 4% 0;
          width: 100%;
        }
      }
    }
  }

  &__banner {
    width: 100%;
    padding-bottom: 80px;

    @media screen and (max-width: 640px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__banner-sp {
    width: 100%;
    display: none;
    margin-bottom: 80px;

    @media screen and (max-width: 640px) {
      display: block;
      margin-bottom: 0;
      padding: 4% 0;
    }

    img {
      width: 100%;
    }
  }
}

//floor
.floor {
  padding: 70px 0px;

  @media screen and (max-width: 640px) {
    padding: 4% 0 10% 0;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    font-weight: normal;
    padding-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;
    font-family: "Zen Kaku Gothic New";

    small {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 1.4rem;
    }
  }

  &__info {
    font-size: 1.6rem;
    line-height: 2;
    font-family: "Zen Kaku Gothic New";
    font-weight: 300;

    @media screen and (max-width: 375px) {
      font-size: 1.2rem;
    }
  }

  &__plan {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;

    //map01
    &__map01 {
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 1200px) {
        width: 45vw;
      }

      @media screen and (max-width: 640px) {}

      &__index {
        font-family: "Poppins";
        font-weight: 100;
        font-size: 2rem;
        position: absolute;
        right: 0;
        top: -35px;

        @media screen and (max-width: 640px) {
          font-size: 1.4rem;
          left: 0;
          top: -8%;
        }
      }

      &__img {
        width: 556px;

        @media screen and (max-width: 1200px) {
          width: 100%
        }

        img {
          width: 100%;
        }
      }

      &__popup {
        width: 55px;

        display: block;
        position: absolute;
        right: 10px;
        bottom: 10px;

        @media screen and (max-width: 1200px) {
          bottom: 5%;
        }

        @media screen and (max-width: 640px) {
          width: 6vw;

        }

        img {
          width: 100%;
        }
      }
    }

    //map02
    &__map02 {
      cursor: pointer;
      margin-top: -200px;
      position: relative;

      @media screen and (max-width: 1200px) {
        width: 45vw;
      }

      @media screen and (max-width: 640px) {
        margin-top: 0;
      }

      &__index {
        font-family: "Poppins";
        font-weight: 100;
        font-size: 2rem;
        position: absolute;
        left: 0;
        bottom: 160px;

        @media screen and (max-width: 640px) {
          font-size: 1.4rem;
          top: -8%;
        }
      }

      &__img {
        width: 556px;

        @media screen and (max-width: 1200px) {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }

      &__popup {
        width: 55px;
        display: block;
        position: absolute;
        right: 10px;
        bottom: 210px;

        @media screen and (max-width: 640px) {
          width: 6vw;
          bottom: 5%;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

//slide
.plan-slide {
  width: 100%;

  &__slider--cnt {
    height: auto;

    @media screen and (max-width: 640px) {
      img {
        width: 100%;
        height: auto;
      }

      width: 240px;

    }
  }
}

// .slide {
//   .slick-slide {
//     height: auto;
//     }
// }


//access
.access {
  background: url(./img/bg.png) no-repeat top center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;

  @media screen and (max-width: 1024px) {
    padding: 8% 0;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    &__text {
      width: 324px;
      line-height: 2;

      @media screen and (max-width: 375px) {
        width: 100%;
      }

      &__title {
        font-weight: normal;
        padding-top: 40px;
        font-size: 2rem;
        margin-bottom: 30px;

        small {
          display: block;
          font-size: 1.4rem;
          font-family: "Zen Kaku Gothic New";
        }
      }

      h3 {
        font-family: "Zen Kaku Gothic New";
        font-weight: 400;
        font-size: 2.4rem;
        padding-bottom: 20px;
        font-weight: 300;
      }
    }

    &__info {
      font-family: "Zen Kaku Gothic New";
      font-size: 1.6rem;
      font-weight: 300;
    }

    &__image {
      width: calc(100% - 324px);

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      @media screen and (max-width: 640px) {
        padding-top: 2%;
      }

      iframe {
        width: 100%;

        @media screen and (max-width: 640px) {
          height: 300px;
        }
      }
    }
  }
}

//flow
.flow {
  padding: 40px 0;

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    font-weight: normal;
    padding-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;

    small {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 1.4rem;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 640px) {
      flex-direction: column;
      gap: 40px;
    }

    &__item {
      width: 320px;
      border-top: 1px solid #606060;
      border-bottom: 1px solid #606060;
      position: relative;

      @media screen and (max-width: 1024px) {
        width: 30%;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
      }

      &::after {
        content: "";
        background: url(./img/flow__arrow.svg);
        display: block;
        width: 30px;
        height: 20px;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -70px;

        @media screen and (max-width: 1200px) {
          right: -10%;
        }

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      &:nth-child(3) {
        &::after {
          display: none;
        }
      }

      &__index {
        right: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 20px;
        text-align: center;
        background-color: #fff;
      }

      &__img {
        padding-top: 30px;
        margin: 0 auto;
        width: 112px;
        height: 130px;

        @media screen and (max-width: 1024px) {
          width: 8vw;

        }

        @media screen and (max-width: 640px) {
          width: 17vw;
          height: 21vw;
        }

        img {
          width: 100%;
        }
      }

      h3 {
        text-align: center;
        font-family: "Zen Kaku Gothic New";
        padding: 30px 0px;
        font-size: 2rem;
        font-weight: 300;

        @media screen and (max-width: 1024px) {
          padding: 10% 0;
          font-size: 1.6rem;
        }

        @media screen and (max-width: 640px) {
          padding: 4% 0;

        }
      }

      p {
        line-height: 1.8;
        font-family: "Zen Kaku Gothic New";
        padding-bottom: 30px;
        font-size: 1.4rem;
        font-weight: 300;

        @media screen and (max-width: 1024px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}

//point02
.point02 {
  overflow: hidden;
  background-color: #EBEBEB;
  padding: 80px;

  @media screen and (max-width: 1024px) {
    padding: 0;
  }

  &__container {
    background-color: #fff;
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    padding-bottom: 80px;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    font-weight: 300;
    padding-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;

    small {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 1.4rem;
    }
  }

  &__box {
    width: 100%;
    margin: 0 auto;

    &__img {
      padding: 80px 0;
      position: relative;
      width: 100%;
      max-width: 600px;
      margin: 0 auto;

      @media screen and (max-width: 640px) {
        padding: 2% 0 10% 0;
      }

      &__icon {
        font-size: 2.4rem;
        color: #fff;
        width: 58px;
        height: 58px;
        background: linear-gradient(to bottom, #EBEBEB, #606060);
        border-radius: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Zen Kaku Gothic New";

        @media screen and (max-width: 780px) {
          width: 7vw;
          height: 7vw;
          font-size: 3vw;
        }

        @media screen and (max-width: 640px) {
          width: 6vw;
          height: 6vw;
          font-size: 2vw;
        }

        cursor: pointer;

        &.icon01 {
          top: 390px;
          left: 78px;

          @media screen and (max-width: 780px) {
            top: 50vw;
            left: 10vw;
          }

          @media screen and (max-width: 700px) {
            top: 55vw;
            left: 11vw;
          }

          @media screen and (max-width: 634px) {
            top: 51vw;
            left: 14vw;
          }
        }

        &.icon02 {
          top: 220px;
          left: 205px;

          @media screen and (max-width: 780px) {
            top: 28vw;
            left: 26vw;
          }

          @media screen and (max-width: 700px) {
            top: 32vw;
            left: 28vw;
          }

          @media screen and (max-width: 634px) {
            top: 33vw;
            left: 13vw;
          }
        }

        &.icon03 {
          bottom: 197px;
          right: 233px;

          @media screen and (max-width: 780px) {
            bottom: 25vw;
            right: 29vw;
          }

          @media screen and (max-width: 700px) {
            bottom: 30vw;
            right: 34vw;
          }

          @media screen and (max-width: 634px) {
            bottom: 29vw;
            right: 37vw;
          }
        }

        &.icon04 {
          top: 300px;
          left: 463px;

          @media screen and (max-width: 780px) {
            top: 39vw;
            left: 59vw;
          }

          @media screen and (max-width: 700px) {
            top: 43vw;
            left: 62vw;
          }

          @media screen and (max-width: 634px) {
            top: 38vw;
            left: 71vw;
          }
        }
      }

      img {
        width: 100%;
        object-fit: cover;

      }
    }
  }

  &__slider {
    width: 100%;
    margin: 0 auto;

    &__wrap {
      width: 100%;
      padding: 80px 0;

      @media screen and (max-width: 1024px) {
        padding: 0 0 80px 0;
      }

    }

    &__list {
      display: flex !important;
      width: 100%;
      margin: 0 auto;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }

      &__item {
        width: 50%;
        padding: 20px 20px;

        @media screen and (max-width: 1024px) {
          width: 500px;
          margin: 0 auto;
        }

        @media screen and (max-width: 500px) {
          width: 100%;
          padding: 0 2%;
        }

        &__eng {
          font-family: "Zen Kaku Gothic New";
          font-style: italic;
          color: #000;
          font-size: 1.6rem;
          margin-bottom: 10px;
          text-align: center;
        }

        &__number {
          color: #000;
          font-family: "Zen Kaku Gothic New";
          font-size: 6rem;
          margin: 0 auto;
          text-align: center;

          @media screen and (max-width: 375px) {
            font-size: 4rem;
          }
        }

        &__title {
          font-family: "Zen Kaku Gothic New";
          font-size: 2.4rem;
          color: #000;
          font-weight: 100;
          line-height: 1.5;
          margin-bottom: 35px;
          text-align: center;

          @media screen and (max-width: 640px) {
            font-size: 2rem;
          }
        }

        &__txt {
          font-weight: 300;
          font-family: "Zen Kaku Gothic New";
          font-size: 1.6rem;
          color: #3a3a3a;
          line-height: 2;

          @media screen and (max-width: 640px) {
            font-size: 1.4rem;
          }
        }
      }

      &__photo {
        padding: 20px 20px;
        width: 50%;
        flex-shrink: 0;
        overflow: hidden;

        @media screen and (max-width: 1024px) {
          padding: 0;
          max-width: 500px;
          width: 100%;
          margin: 0 auto;
        }

        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }

    &__btn {
      position: relative;

      .slick-prev-point {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;

        @media screen and (max-width: 1024px) {
          left: 0;
        }

        @media screen and (max-width: 640px) {

          svg {
            width: 10.8125vw;
            height: 10.8125vw;
            padding-left: 20px;
          }
        }

        @media screen and (max-width: 435px) {
          svg {
            padding-left: 0;
          }
        }
      }


      .slick-next-point {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;

        @media screen and (max-width: 1024px) {
          right: 0;
        }

        @media screen and (max-width: 640px) {

          svg {
            width: 10.8125vw;
            height: 10.8125vw;
            padding-right: 20px;
          }
        }

        @media screen and (max-width: 435px) {
          svg {
            padding-right: 0;
          }
        }
      }
    }
  }
}

//work
.works {
  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    font-weight: 300;
    padding-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;

    small {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 1.4rem;
    }
  }
}

.works__inner {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width: 640px) {
    padding: 0;
  }
}

.works__inner--cnt {
  width: 100%;
  position: relative;
  padding-left: 50px;

  @media screen and (max-width: 640px) {
    padding-left: 0;
  }
}

.works__inner--data {
  position: absolute;
  font-weight: 400;
  font-size: 1.6rem;
  color: #003214;
  left: 0;
  writing-mode: vertical-rl;
  top: 0;

  @media screen and (max-width: 640px) {
    font-size: 1.2rem;
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 3%;
    writing-mode: horizontal-tb;
  }
}

.works__inner--data--01 {
  color: #606060;
  font-weight: 100;
  font-family: "Zen Kaku Gothic New";
}

.y-scroll {
  white-space: normal;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(46, 24, 3, 0.2509803922);
    border-radius: 0;

    &:hover,
    &:active {
      background: #606060;
    }
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
    border: 0px none #ddd;
    border-radius: 0;

    &:hover,
    &:active {
      background: #ddd;
    }
  }

  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}



//company
.company {

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__title {
    font-weight: 300;
    padding-top: 40px;
    font-size: 2rem;
    margin-bottom: 30px;

    small {
      display: block;
      font-family: "Zen Kaku Gothic New";
      font-size: 1.4rem;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
    width: 100%;

    @media screen and (max-width: 640px) {
      flex-direction: column-reverse;
      padding-bottom: 4%;
    }

    &:nth-child(3) {
      flex-direction: row-reverse;


      @media screen and (max-width: 640px) {
        flex-direction: column-reverse;
        ;
      }

      .company__box__img {
        @media screen and (max-width: 1024px) {
          width: 50%;
        }

        @media screen and (max-width: 640px) {
          width: 100%;
        }

        img {
          width: 100%;
          ;
        }
      }

      .company__box__img {
        @media screen and (max-width: 640x) {
          width: 100%;
        }
      }

      .company__box__content {
        padding-left: 0;
        padding-right: 80px;

        @media screen and (max-width: 1024px) {
          width: 50%;
          padding-right: 4%;
        }

        @media screen and (max-width: 640px) {
          width: 100%;
        }
      }
    }

    &__img {
      width: 500px;

      @media screen and (max-width: 1024px) {
        width: 50%;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        padding-top: 4%;
      }

      img {
        width: 100%;
      }
    }

    &__content {
      width: calc(100% - 500px);
      padding-left: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 1024px) {
        width: 50%;
        padding-left: 4%;
      }

      @media screen and (max-width: 640px) {
        width: 100%;
        padding: 0;
      }

      h3 {
        font-family: "Zen Kaku Gothic New";
        font-size: 3rem;
        padding-bottom: 20px;
        font-weight: 300;

        @media screen and (max-width: 640px) {
          font-size: 2rem;
        }

        small {
          display: block;
          font-weight: 300;
          font-size: 1.5rem;
        }
      }

      p {
        font-weight: 300;
        font-family: "Zen Kaku Gothic New";
        font-size: 1.6rem;
        line-height: 2;

        @media screen and (max-width: 640px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__info {
    padding: 40px 0 80px 0;
    width: 100%;

    @media screen and (max-width: 640px) {
      padding: 4% 0 8% 0;
    }

    &__table {
      tbody {
        width: 100%;

        tr {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 24px;
          text-align: left;

          @media screen and (max-width: 640px) {
            flex-direction: column;
          }

          th {
            font-family: "Zen Kaku Gothic New";
            width: 195px;
            padding-bottom: 24px;
            border-bottom: 1px solid #606060;
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;

            @media screen and (max-width: 640px) {
              border-bottom: none;
              padding-bottom: 2%;
              font-size: 1.4rem;
            }
          }

          td {
            font-family: "Zen Kaku Gothic New";
            width: calc(100% - 210px);
            padding-bottom: 24px;
            border-bottom: 1px solid #606060;
            font-size: 18px;
            line-height: 1.8;
            font-weight: 300;

            @media screen and (max-width: 640px) {
              width: 100%;
              padding-bottom: 2%;
              padding-left: 2%;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}

//footer 
.footer {
  width: 100%;
  background-color: #606060;
  padding: 80px 0 80px 0;

  @media screen and (max-width: 640px) {
    padding: 8% 0;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      padding: 0 2%;
    }

    @media screen and (max-width: 640px) {
      padding: 0 4%;
    }
  }

  &__content {
    position: relative;

    &__logo {
      width: 118px;
      margin: 0 auto;
      padding: 40px 0 40px 0;

      @media screen and (max-width: 375px) {
        width: 20vw;
      }

      img {
        width: 100%;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 640px) {
        flex-direction: column;
        gap: 2vh;
      }

      li {
        a {
          color: #fff;
          font-size: 1.6rem;
          font-family: "Zen Kaku Gothic New";

          @media screen and (max-width: 375px) {
            font-size: 3.5vw;
          }
        }
      }
    }

    &__copy {
      width: 100%;
      text-align: center;
      padding-top: 30px;
      color: #fff;
      font-size: 1.8rem;
      font-family: "Zen Kaku Gothic New";

      @media screen and (max-width: 640px) {
        padding: 10%;
        font-size: 1.2rem;
      }
    }

    .top-button {
      width: 77px;
      height: 77px;
      position: absolute;
      right: 0;
      bottom: 10px;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      a {
        width: 100%;

        img {}
      }
    }
  }
}

.modal_popup {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__inner {
    width: 100%;
    height: 100%;
    background-color: #cccccc80;
    position: relative;
    cursor: pointer;
  }

  &__cnt {
    max-width: 600px;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      max-width: 100%;
      height: auto;
    }

    span {
      cursor: pointer;
      position: absolute;
      top: -50px;
      right: 0;
    }
  }
}